a{
    text-decoration: none;
}

.active{
    color: rgb(255, 255, 255);
}
.fab {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

#table-header {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 61px;
}

/* Rainbow Animation Color */

.rainbow { 
    height: 9.1%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
  
    position: fixed;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
        animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}


#img-prv {
    width : 40%;
    display: none;
}

#img-prv-update {
    width: 40%;
}

/* #maincon {
    margin-left: 5%;
    margin-right: 5%;
} */